.MuiGrid-root {
    div {
        img {
            display: block;
            font-size: 14px !important;
        }
    }
    .MuiInput-underline:after {
        border-bottom: none;
    }
    .MuiInput-underline:not(.Mui-disabled):before {
        border: none;
    }
    .MuiInput-underline:hover:not(.Mui-disabled):before {
        border: none;
    }
    .MuiTypography-h5 {
        font-weight: 500;
    }

    .MuiCheckbox-colorPrimary.Mui-checked {
        color: #7041e6;
    }
    .makeStyles-form-5 input:hover {
        border: 1px solid #af93ef;
    }
}


@media only screen and (max-width: 1024px) {
    .MuiGrid-root {
        padding: 10px 0 !important;
        .capcha {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .MuiBox-root-9{
            display: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .MuiGrid-root {
        padding: 0 5px !important;
        .capcha {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .MuiBox-root-9{
            display: none;
        }
    }
}
