.container__content {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: #fff;
    .content__services {
        margin-top: 80px;
        .main__services {
            .main__services--title {
                width: 1040px;
                font-size: 44px;
                font-weight: 500;
                color: #fff;
                line-height: 48px;
            }

            // Content items
            .main__services--content {
                margin-top: 40px;

                // Left CSS
                .left__items {
                    .left__items--games {
                        .game__title {
                            font-size: 24px;
                            font-weight: 500;
                            color: var(--button-hover1);
                            line-height: 27px;
                        }

                        .games__infor {
                            p {
                                padding: 0;
                            }
                            div {
                                flex-wrap: wrap;
                                gap: 11px;
                                .game__infor--items {
                                    height: 24px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 14px;
                                    font-weight: 400;
                                    background: linear-gradient(90deg, rgba(141, 101, 234, 0.8), #625cff);
                                    padding: 0 15px 0 16px;
                                    transform: skew(24deg);
                                    // clip-path: polygon(0 0, 86% 0, 100% 99%, 12% 100%);
                                    div {
                                        transform: skew(-24deg);
                                    }
                                }
                            }
                        }
                    }
                    .left__items--lifestyle {
                        .game__title {
                            font-size: 24px;
                            font-weight: 500;
                            color: var(--button-hover1);
                            line-height: 27px;
                        }

                        .games__infor {
                            p {
                                padding: 0;
                            }
                            div {
                                flex-wrap: wrap;
                                gap: 11px;
                                .game__infor--items {
                                    height: 24px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: #fff;
                                    transform: skew(24deg);
                                    background: linear-gradient(135deg, #7731db, rgba(255, 146, 99, 0.8));
                                    padding: 0 15px 0 16px;
                                    // clip-path: polygon(0 0, 86% 0, 100% 99%, 12% 100%);
                                    div {
                                        transform: skew(-24deg);
                                    }
                                }
                            }
                        }
                    }

                    .button__search {
                        display: inline-block;
                        .button-purple {
                            transition: all 0.5s;
                            position: relative;
                            z-index: 1;
                            color: #fff;
                            overflow: hidden;
                            padding: 0 24px;
                            font-weight: 500;
                            border: none;
                            border-radius: 20px;
                            height: 100%;
                            width: 100%;
                            background: transparent;
                            height: 40px;
                            margin-top: 20px;
                            &::before {
                                content: "";
                                display: block;
                                background: linear-gradient(90deg, #625cff, #7041e6);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                z-index: -2;
                                color: #fff;
                            }
                            &::after {
                                content: "";
                                display: block;
                                background: linear-gradient(90deg, #7041e6, #7041e6);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                                opacity: 0;
                                transition: opacity 0.3s linear;
                            }
                            &:hover {
                                background: #7041e6;
                                border-color: #966bf2;
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                // Right CSS
                .right__items {
                    position: relative;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .container__content {
        width: 90%;
        .main__services {
            .main__services--content {
                .right__items {
                    .video {
                        .youtube__video {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .container__content {
        width: 80%;
        .content__services {
            .main__services {
                .main__services--title {
                    font-size: 32px;
                }
                .main__services--content {
                    display: block;
                    .left__items {
                        display: none;
                    }
                    .right__items {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 568px) {
    .container__content {
        width: 80%;
        .content__services {
            .main__services {
                .main__services--title {
                    font-size: 16px;
                }
                .right__items {
                    width: 100%;
                }
            }
        }
    }
}
