.main__layout {
    width: 100%;
    height: calc(100vh - 60px);
    .wrapper {
        padding: 125px 0 48px 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 380px;
        background-image: url("../../assets/LOL.png");
        background-position: center center;
        background-size: cover;
        background-color: rgb(18, 14, 27);
        z-index: 0;

        .header__rent {
            padding-bottom: 24px;
            .header__container {
                width: 70%;
                margin: 0 auto;
                .header--title {
                    font-size: 48px;
                    font-weight: 500;
                    color: var(--color-default);
                    line-height: 48px;
                }
                .header--filter {
                    width: 100%;
                    padding: 40px 0 0;
                    .filter__search {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 8px;
                        .filters {
                            margin-bottom: 8px;
                        }
                        .filter__search--name {
                            color: var(--color-default);
                            margin-right: 8px;
                        }
                        .filter__search--items {
                            .ant-select-focused {
                                border: none;
                            }
                            .ant-select-selector {
                                border: none;
                                background: var(--background-card);
                                color: var(--text-card);
                            }
                            .ant-select-arrow {
                                color: var(--text-card);
                            }
                        }
                    }
                }
            }
        }

        .card__rent {
            position: relative;
            min-height: calc(100vh - 519px);
            z-index: 1;
            .card__container {
                width: 70%;
                margin: 0 auto;
                .cardList {
                    flex-wrap: wrap;
                    color: var(--color-default);
                }
            }
        }
    }
}
