
:root{
  --text-hover: #7041e6;
  --color-button: #21212C;
  --button-hover: #4f4e60;
}
*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  font-size: 100%;
}
#root {
  /* min-width: 1100px; */
}

#root,body, html {
  overflow: hidden;
  background: #120E1B;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
}
.container {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}