.chat-rom {
    margin-top: 90px;
    background: #fff;
    height: 100vh;
    width: 100%;
    // display: grid;
    // place-items: center;
    
    .joinChatContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        h3 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        input {
            width: 225px;
            height: 40px;
            margin: 7px;
            border: 2px solid #43a047;
            border-radius: 5px;
            padding: 5px;
            font-size: 16px;
        }
        button {
            width: 225px;
            height: 50px;
            margin: 7px;
            border: none;
            border-radius: 5px;
            padding: 5px;
            font-size: 16px;
            background: #43a047;
            color: #fff;
            cursor: pointer;
            &:hover {
                background: #2e7d32;
            }
        }
    }
}
